.parameter-filter-settings {
    padding: 5px;
}

.parameter-filter-settings .flex-container {
    margin: 10px 0;
    align-items: center;
}

.parameter-filter-settings .flex-container input[type="checkbox"] {
    margin-right: 8px;
}

.parameter-filter-settings .inline-drawer-content {
    padding: 15px;
}
